body {
    background-color: black;
}
.contain {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    perspective: 1px;
}
@keyframes example {
    1% {transform: rotatex(60deg)}
    0% {transform: translatez(-100px)}
    100% {transform: translatez(-1000px)}
}
.paralax {
    position: absolute;
    color: yellow;
    text-align: center;
    font-size: 2vw;
    width: 50vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.anim {
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}